// color
$bg-color: rgb(30,30,30);
$card-color: rgb(50, 50, 50);
$secondary-color: rgb(211,255,206);
$daily-color: rgb(65, 65, 65);
$txt-color: rgb(255, 255, 255);

// font
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&display=swap');
$title-font: 'Heebo', sans-serif;
$txt-font: 'Poppins', sans-serif;